.form-delivery{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

.header-delivery{
    padding: 15px 2rem;
}

.form-delivery-left{
    background-color: #fbfbfb;
    padding-right: 10px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0 0 20px 0;
}

.search-delivery-left{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.form-body-delivery-left{
    max-height: 30rem;
    padding-bottom: 3rem;
    overflow-y: auto;
}

.form-body-delivery-left::-webkit-scrollbar {
    width: 7px;
}
 
.form-body-delivery-left::-webkit-scrollbar-track {
    background-color: #cecece;
    border-radius: 5px;
}
 
.form-body-delivery-left::-webkit-scrollbar-thumb {
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
}

.item-delivery-left{
    padding: 10px 2rem; 
    cursor: pointer;
    transition: 0.4ms;
}

.item-delivery-left:hover{
    background-color: rgb(244, 244, 244);
}

.item-delivery-left-active{
    background-color: rgb(230, 230, 230);
}

.form-header-body-delivery-left{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(206, 206, 206);
}

.form-status-delivery-left{
    background-color: #e3faee;
    padding: 5px;
    font-weight: bold;
    color: #4be89d;
    border-radius: 5px;
}

.form-from-deliver-left{
    display: flex;
    align-items: center;
}

.form-delivery-right{
    padding: 1rem;
    transform: scale(
        0.93
    ) translateY(-2rem)

}

.body-item-delivery-left{
    border-bottom: 2px solid rgb(206, 206, 206);
}

.icon-item-delivery-left{
    background-color: lightgray;
    border-radius: 50%;
    padding: 10px;
}

.avt-delivery{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.icon-location-deliver{
    background-color: #d5e3ff;
    color: #4b86e4;
}

.line-dashed{
    border-left: dotted rgb(174, 174, 174) 2px;
    margin-left: 1.1rem;
    padding: 10px;
}

.text-secon-header-right{
    font-size: x-large;
    color: rgb(162, 162, 162);
}

.header-delivery-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-header-right-delivery{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /* border: 1.5px solid rgb(230, 230, 230); */
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.icon-item-right-delivery{
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    margin-right: 5px;
    border: 1.5px solid rgb(230, 230, 230);
    /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
}

.icon-user-delivery{
    background-color: #e9effb;
    color: #4b86e4;
}

.icon-phone-delivery{
    background-color: #ebf8f1;
    color: #2fb377;
}

.icon-location-delivery{
    background-color: #f1ecff;
    color: #6c3aff;
}

.body-form-delivery{
    /* border: 1.5px solid rgb(230, 230, 230); */
    width: auto;
    left: 2rem;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding: 0 5px 0.5rem;
}

.body-form-delivery-tab{
    width: auto;
    left: 2rem;
    background-color: white;
    margin: 10px 10px;
    border-radius: 10px;
    align-items: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.body-list-table-delivery{
    max-height: 13rem;
    overflow-y: auto;
}

.form-deliver-right-scroll{
    animation: formDelivery 800ms ease-in-out forwards;
}

@keyframes formDelivery {
    0% {
        transform: translateX(-50rem)
    }
    100% {
        transform: translateX(0)
    }
  }