/* .container{
    margin-top: 5%;
    padding: 5%;
}
.divid{
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 1fr 1fr;
} */

/* .main{
    display: block;
    columns: 25rem;
    gap: 1rem;
    padding: 1% 5% 5% 5% ;
}

figure {
    break-inside: avoid;
    margin: 0;
}
.imge { 
    width: 100%; 
    display: block;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 0.5rem;
}

.imge:hover {
    filter: brightness(70%);
    transition: 1s;
}

figcaption {
    padding: 0.5rem 1rem 0.4rem;
    background: rgba(0, 0, 0, 0.099);
    color: #333;
    border-radius: 1rem 1rem 0 0;
    text-align: end;
}

a{
    display: block;
    margin: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.load{
    background-color: lightgray;
    height: 25rem;
} */