*{
  font-family: 'Nunito', sans-serif !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.box-shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.text-green{
  color: #2c5a40 !important;
}

.bg-green{
  background-color: #2c5a40;
  color: white;
}

.bg-dark-green{
  background-color: #2d4236;
  color: white;
}

.bg-light{
  background-color: rgb(238, 238, 238) !important;
}

.text-brown{
  color: #eda766 !important;
}

.bg-brown{
  background-color: #eda766;
}

.text-light-green{
  color: #56a076 !important;
}

.bg-light-green{
  background-color: #56a076;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;
}

.text-special{
  font-family: 'Oswald', sans-serif !important;
}

textarea:focus, input:focus{
  outline: none;
}

.btn-close-x{
   font-size: x-large;
   border: 5px solid transparent;
   cursor: pointer;
   border-radius: 5px;
}

.btn-close-x:hover{
  background-color: rgb(231, 231, 231);
  transition: all 0.4s;
}

.input-simple{
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.link-none-style{
  all: unset
}

.btn-main{
  background-color: #2d4236 !important;
  color: #eda766;
  border: none;
  font-weight: bold;
  padding: 10px;
}

.btn-main:hover{
  background-color: #2c5a40 !important;
}

p{
  margin: 0;
}

.drop{
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.drop-right{
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.list-drop{
  background-color: #f0f0f0ea;
  color: black;
  position: fixed;
  width: max-content;
  text-align: center;
  margin-top: 2.5rem;
  align-content: center;
  padding: 4px 0 0.5px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  border-radius: 5px;
}

.text-dang-xuat{
  color: rgb(157, 0, 0);
}

.item-drop{
  cursor: pointer;
  padding: 7px 12px;
  display: flex;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.77);
  margin-bottom: 3.5px;
  gap: 2px;
  /* border-top: rgba(60, 60, 60, 0.416) solid 1.5px;
  border-bottom: rgba(60, 60, 60, 0.416) solid 1.5px; */
  font-weight: bold;
  font-size: small;
}

.item-drop:hover{
  background-color: rgba(0, 0, 0, 0.364);
}

.close-drop{
  display: none;
  transition: 5s;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.form-default{
  padding-top: 5.5rem;
}

.MuiButton-textPrimary{
  font-weight: bold !important;
  color: #2c5a40 !important;
  font-family: 'Oswald', sans-serif !important;
}

.form-small-1{
  transform: scale(0.9);
}

.list-drop-input{
  background-color: #ffffffea;
  color: black;
  position: absolute;
  width: 93%;
  text-align: center;
  margin-top: 5rem;
  align-content: center;
  padding: 4px 0 0.5px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: dropInputDown 300ms ease-in-out forwards;
  transform-origin: top center;
  border-radius: 5px;
  z-index: 10;
  max-height: 15rem;
  overflow-y: auto;
}

.item-drop-input{
  cursor: pointer;
  padding: 7px 12px;
  display: flex;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.77);
  margin-bottom: 2px;
  gap: 2px;
  /* border-top: rgba(60, 60, 60, 0.416) solid 1.5px;
  border-bottom: rgba(60, 60, 60, 0.416) solid 1.5px; */
  font-weight: bold;
  font-size: small;
}

.item-drop-input:hover{
  background-color: rgb(188, 188, 188);
}

@keyframes dropInputDown {
  0% {
      transform: scaleY(0) translateX(2px)
  }
  100% {
      transform: scaleY(1) translateX(2px)
  }
}

.swal2-timer-progress-bar-container{
  background-color: white  !important;
}

